<div class="container">
	<div class="col-sm-12 col-md-10 col-lg-6 cus-center-block">
		<h2 class="">{{title}}</h2>
		<div class="input-group input-group-lg">
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" aria-describedby="eye-view" size="15" maxlength="26" value="" (keyup)="passwordMeter($event)">
		<span class="input-group-addon">
		<span class="glyphicon glyphicon-eye-open" aria-hidden="true"  id="eye-view" (click)="eyeToggle()"></span>
		</span>
		</div>
		<div class="alert" id="strength">
		</div>
	</div>
</div>

<!--
	Strong passkey - Ab4$skA&/AbhDha1234*/Abcd1234$
	Medium passkey - AbhDha1234/Abcd1234
	Easy passkey -	1234567890/ABCDEFGHIJK/abcdefghljikl/!@#$%^&&	
-->